
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    <div >  

           
             <button id="j" (click)="changeColor();" [ngStyle]="{'background-color': buttonColor}">Click Me</button> 

                
       

</div>
</div>